#skills-header {
  background-color: #707B7C;
  color: #2ECC71;
  border: 2px solid black;
  margin: 0px;
  padding: 20px;
}

#programming-languages {
  background-color: #800000;
  color: #FFA500;
  border: 2px solid black;
  border-width = 4px;
  margin: 0px;
  padding: 20px;
  float:left;
  width:50%;
}

#computer-skills {
  background-color: #FFA500;
  color: #800000;
  border: 2px solid gray;
  border-width = 4px;
  margin: 0px;
  padding: 20px;
  margin-left:50%
}

#skills-header {
   font: "Comic Sans MS";
}

#skill-sec {
   font: "Comic Sans MS";
}
